*~
*.gmo
*.o
*.lo
Makefile
config.h
config.log
config.status
libtool
po/.intltool-merge-cache
po/Makefile.in
po/POTFILES
po/stamp-it
src/.deps/
src/.libs/
src/50-metacity-desktop-key.xml
src/50-metacity-key.xml
src/inlinepixbufs.h
src/libmetacity-private.la
src/libmetacity-private.pc
src/metacity
src/metacity-theme-viewer
src/metacity-wm.desktop
src/metacity.desktop
src/metacity.schemas
src/metacity.schemas.in
src/schema_bindings
src/testasyncgetprop
src/testboxes
src/testgradient
src/tools/.deps/
src/tools/metacity-grayscale
src/tools/metacity-mag
src/tools/metacity-message
src/tools/metacity-window-demo
src/wm-tester/.deps/
src/wm-tester/focus-window
src/wm-tester/test-gravity
src/wm-tester/test-resizing
src/wm-tester/test-size-hints
src/wm-tester/wm-tester
stamp-h1
src/cfiles
src/TAGS
src/tools/TAGS
src/wm-tester/TAGS
